<h1 class="cover-heading font-Oswald">About Me</h1>

<br>

<p class="font-Oswald">
I actually started in medicine five years ago and decided that my passion was in Computer Science but the purpose and dedication of helping people did not go far. I still maintain very high standards of care for people and always give things my best- which has carried over to learning development. I get excited about exceeded expectations and impressing on every level of my job!
</p>

<p class="font-Oswald">
You can always reach me through my contact methods for inquires or just to get to know me; I'll help however I can! Explore this site and my other projects and let me know what you think. Meeting new people creates new potential in our lives to the fullest and using development to do that is more exciting than ever.
</p>
