<h1>Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Post</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>

<h1>Class</h1>

<p> <%= current_user.class %> </p> <!-- delete?-->

<h4><a href="/blogs">Blog</a></h4> <!-- Move this to navbar later -->
<h4><a href="/portfolios">Portfolios</a></h4> <!-- Move this to navbar later -->